{% trans_default_domain 'element' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('organization_element_new', {'path': current.path}) }}{% endblock %}
{% block path_list %}{{ app.request.uri }}{% endblock %}
{% block more_actions %}<a href="{{ path('organization_element_new', {'path': current.path}) }}" class="btn btn-success"><i class="fa fa-folder-open"></i> {{ 'table.new_category'|trans }}</a>{% endblock %}
{% block table_header %}
    <th class="col-sm-4"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="col-sm-3">{{ 'header.managed_by'|trans }}</th>
    <th class="col-sm-3">{{ 'header.references'|trans }}</th>
    <th class="col-sm-2"></th>
{% endblock %}

{% block table_body %}
            {% for element in elements %}
                {% set url = element.folder ? path('organization_element_list', {'page': 1, 'path': element.path}) : path('organization_element_form', {'path': element.path}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="elements[]" value="{{ element.id }}" class="selectable"> {% if element.folder %}<i class="fa fa-folder"></i> {% endif %}<a href="{{ url }}">{{ element.name }}</a>{% if element.code %} <i class="fa fa-lock"></i>{% endif %}</label>
                    </td>
                    <td>
                        {{ element.managed_by|default('') }}
                    </td>
                    <td>
                        {{  element.references|join(', ') }}
                    </td>
                    <td>
                        {% if not loop.first %}<button type="submit" class="btn btn-xs" name="up" value="{{ element.id }}"><i class="fa fa-arrow-up"></i></button>{% endif %}
                        {% if not loop.last %}<button type="submit" class="btn btn-xs" name="down" value="{{ element.id }}"><i class="fa fa-arrow-down"></i></button>{% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
