{% trans_default_domain 'element' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('organization_element_new', {'path': current.path}) }}{% endblock %}
{% block path_list %}{{ app.request.uri }}{% endblock %}
{% block more_actions %}<a href="{{ path('organization_element_folder_new', {'path': current.path}) }}" class="btn btn-success"><i class="fa fa-folder-open"></i> {{ 'table.new_category'|trans }}</a>{% endblock %}
{% block table_header %}
    <th class="col-sm-2"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="col-sm-5">{{ 'header.profiles'|trans }}</th>
    <th class="col-sm-3">{{ 'header.users'|trans }}</th>
    <th class="col-sm-2"></th>
{% endblock %}

{% block table_body %}
            {% for element in elements %}
                {% set url = element.folder ? path('organization_element_list', {'path': element.path}) : path('organization_element_form', {'path': element.path}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="elements[]" value="{{ element.id }}"{% if element.locked %} disabled="disabled"{% else %} class="selectable"{% endif %}> {% if element.folder %}<i class="fa fa-folder" title="{{ 'table.folder'|trans }}"></i> {% endif %}<a href="{{ url }}">{{ element.name }}</a>{% if element.locked %} <i class="fa fa-lock" title="{{ 'table.locked'|trans }}"></i>{% endif %}</label>
                    </td>
                    <td>
                        {{ element.fullProfileName }}{% if element.managedBy %}{{ element.profile ? '. ' }}{{ 'table.managed_by'|trans({'%manager%': element.managedBy}) }}{% endif %}
                        {% for label in element.labels %} <span class="label label-default">{{ label.name }}</span>{% endfor %}
                    </td>
                    <td>
                        {{ element.users|join(', ') }}
                    </td>
                    <td>
                        {% if not loop.first %}<button type="submit" class="btn btn-link btn-xs" name="up" value="{{ element.id }}" title="{{ 'table.move_up'|trans }}"><i class="fa fa-arrow-up"></i></button>{% endif %}
                        {% if not loop.last %}<button type="submit" class="btn btn-link btn-xs" name="down" value="{{ element.id }}" title="{{ 'table.move_down'|trans }}"><i class="fa fa-arrow-down"></i></button>{% endif %}
                        {% if element.folder %}<a href="{{ path('organization_element_form', {'path': element.path}) }}" class="btn btn-link btn-xs" title="{{ 'title.edit'|trans }}"><i class="fa fa-pencil"></i></a>{% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('organization_element_operation', {'path': app.request.get('path')}) }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
