{% trans_default_domain 'import' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if not stats %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.submit_button('submit', 'check', 'btn-success', 'form.subject_import'|trans) }}
            {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.end_button() }}
        {{ form_end(form) }}
    {% else %}
        <h4>{{ 'report.stats'|trans }}</h4>
        <ul>
            <li>{{ 'report.existing_subjects'|trans }}: {{ stats.existing_count }}</li>
            <li>{{ 'report.new_subjects'|trans }}: {{ stats.new_count }}</li>
        </ul>
        {% if stats.collection %}
            <h4>{{ 'report.subjects'|trans }}</h4>
            <ul>
                {% for element in stats.collection %}
                    <li>
                        {{ element.name }}
                        {%- if element.roles.count() -%}
                            : {% for role in element.roles %}{{ role.user }} ({{ ('role.'~role.role)|trans({}, 'core') }}){% if not loop.last %}, {% endif %}{% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% endif %}
{% endblock %}
