{% trans_default_domain 'import' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if not stats %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.submit_button('submit', 'check', 'btn-success', 'form.unit_import'|trans) }}
            {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.end_button() }}
        {{ form_end(form) }}
    {% else %}
        <h4>{{ 'report.stats'|trans }}</h4>
        <ul>
            <li>{{ 'report.existing_units'|trans }}: {{ stats.existing_unit_count }}</li>
            <li>{{ 'report.new_units'|trans }}: {{ stats.new_unit_count }}</li>
        </ul>
        {% if stats.unit_collection %}
            <h4>{{ 'report.units'|trans }}</h4>
            <ul>
                {% for element in stats.unit_collection %}
                    <li>
                        {{ element.name }}
                        {%- if element.roles.count() -%}
                            : {{ element.roles|join(', ') }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {% endif %}
{% endblock %}
