{% trans_default_domain 'menu' %}
<p class="navbar-text" id="breadcrumb">
    {% for menu_item in menu_path %}
        {% if not loop.first %}<span class="separator"></span>{% endif %}
        <a href="{{ path(menu_item.routeName, menu_item.routeParams) }}" class="navbar-link">
            {%- if menu_item.icon %}<i class="fa fa-{{ menu_item.icon }}"></i> {% endif -%}
            {%- if not loop.first and menu_item.caption %}{{- menu_item.caption|trans -}}{% endif %}
        </a>
    {%- endfor -%}
    <span class="separator"></span>
    {% for item in breadcrumb|default([]) %}
        {%- if item.routeName is defined %}<a href="{{ path(item.routeName, item.routeParams ?: {}) }}" class="navbar-link">{% endif -%}
        {%- if item.icon is defined %}<i class="fa fa-{{ item.icon }}"></i> {% endif -%}
        {%- if item.caption is defined %}{{- item.caption|trans -}}{% endif %}{{- item.fixed|default('') -}}
        {%- if item.path is defined %}</a>{% endif -%}
    {%- endfor %}
</p>
