{% trans_default_domain 'documentation' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if entry.state == 0 %}
        <div class="well" style="text-align: center">
            <span title="{{ 'state.upload.done'|trans }}">
                <i class="fa fa-file-o fa-4x"></i><i class="fa fa-check status-done fa-4x"></i>
            </span>
            <i class="fa fa-angle-right fa-4x"></i>
            {% if entry.currentVersion.state == 0 %}
                <span title="{{ 'state.review.pending'|trans }}">
                    <i class="fa fa-search fa-4x"></i><i class="fa fa-question status-pending fa-4x"></i>
                </span>
            {% elseif entry.currentVersion.state == 1 %}
                <span title="{{ 'state.review.done'|trans }}">
                    <i class="fa fa-search fa-4x"></i><i class="fa fa-check status-done fa-4x"></i>
                </span>
                <i class="fa fa-angle-right"></i>
                <span title="{{ 'state.approve.pending'|trans }}">
                        <i class="fa fa-gavel fa-4x"></i><i class="fa fa-question status-pending fa-4x"></i>
                </span>
            {% endif %}
        </div>
    {% endif %}
    <div class="well well-sm">
        {% if permissions.is_owner or permissions.is_manager %}
            {{ m.link_button('', 'plus', 'btn-success', 'form.entry.new_revision'|trans) }}
        {% endif %}
        {{ m.link_button('', 'lightbulb-o', 'btn-default', 'form.entry.request_changes'|trans) }}
        {{ m.link_button('', 'history', 'btn-default', 'form.entry.show_versions'|trans) }}
        {% if permissions.is_manager %}
            {{ m.link_button('', 'download', 'btn-default', 'form.entry.download_report'|trans) }}
            {{ m.link_button('', 'trash', 'btn-danger', 'form.entry.retire'|trans) }}
        {% endif %}
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ m.start_button() }}
        {{ m.submit_button('submit', 'check', 'btn-success', 'form.save'|trans) }}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
    {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% endblock %}
