{% trans_default_domain 'documentation' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}
{% import 'documentation/macros_folder.html.twig' as mf %}

{% block new_action %}
    <div class="form-group col-md-5">
        {% if current.parent is not null and is_granted('FOLDER_UPLOAD', current) and current.type != constant('AppBundle\\Entity\\Documentation\\Folder::TYPE_TASKS')%}<a href="{{ path('documentation_folder_upload', {'id': current.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'table.entry.new'|trans }}</a>{% endif %}
        {% if permissions.is_organization_manager %}
            <a href="{{ path('documentation_folder_new', {'id': current.id}) }}" class="btn btn-success"><i class="fa fa-folder-open"></i> {{ 'table.folder.new'|trans }}</a>
            {% if current.parent is not null%}<a href="{{ path('documentation_folder_form', {'id': current.id}) }}" class="btn btn-primary"><i class="fa fa-cog"></i> {{ 'table.folder.edit'|trans }}</a>{% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block container %}container-fluid{% endblock %}

{% block table_header %}
    <th class="col-sm-8"><label>{% if permissions.is_organization_manager %}<input type="checkbox" id="select"> {% endif %}{{ 'header.name'|trans }}</label></th>
    <th class="col-sm-2">{{ 'header.version'|trans }}</th>
    <th class="col-sm-2">{{ 'header.user'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% set last = current %}
            {% for entry in pager %}
                {% if last != entry.folder %}
                    {% set last = entry.folder %}
                    <tr>
                        <td colspan="3" class="table-highlight ellipsis-overflow">{{ mf.folder_path(last, current) }}</td>
                    </tr>
                {% endif %}
                {% set url = entry.currentVersion ? path('documentation_entry_download', {'id': entry.id}) : '' %}
                <tr>
                    <td class="ellipsis-overflow">
                        <label> {% if permissions.is_organization_manager %}<input type="checkbox" name="entries[]" value="{{ entry.id }}" class="selectable"> {% endif %}<a href="{{ url }}"{% if entry.retiredAt and entry.retiredAt <= date() %} class="retired"{% endif %}>{{ entry.name|e|highlight(q) }}</a></label>
                        <span class="pull-right">
                            {% if entry.state == 2 %}<i class="fa fa-check status-done" title="{{ 'state.approve.done'|trans }}"></i>{% endif %}
                            {% if entry.state == 6 %}<i class="fa fa-times status-rejected" title="{{ 'state.rejected'|trans }}"></i>{% endif %}
                            {% if entry.state == 0 %}
                                &nbsp;
                                <span title="{{ 'state.upload.done'|trans }}">
                                    <i class="fa fa-file-o"></i><i class="fa fa-check status-done"></i>
                                </span>
                                <i class="fa fa-angle-right"></i>
                                {% if entry.currentVersion.state == 0 %}
                                    <span title="{{ 'state.review.pending'|trans }}">
                                        <i class="fa fa-search"></i><i class="fa fa-question status-pending"></i>
                                    </span>
                                {% elseif entry.currentVersion.state == 1 %}
                                    <span title="{{ 'state.review.done'|trans }}">
                                        <i class="fa fa-search"></i><i class="fa fa-check status-done"></i>
                                    </span>
                                    <i class="fa fa-angle-right"></i>
                                    <span title="{{ 'state.approve.pending'|trans }}">
                                            <i class="fa fa-gavel"></i><i class="fa fa-question status-pending"></i>
                                    </span>
                                {% endif %}
                            {% endif %}
                            {% if permissions.is_folder_manager and entry.folder.id == current.id and q is empty %}
                                <button type="submit" class="btn btn-link btn-xs" name="up" value="{{ entry.id }}" title="{{ 'table.move_up'|trans }}"><i class="fa fa-arrow-up"></i></button>
                                <button type="submit" class="btn btn-link btn-xs" name="down" value="{{ entry.id }}" title="{{ 'table.move_down'|trans }}"><i class="fa fa-arrow-down"></i></button>
                            {% endif %}
                        </span>
                    </td>
                    {% if entry.currentVersion %}
                        <td class="ellipsis-overflow">
                            {{ entry.folder.versionShown ? entry.currentVersion.versionNr~' ('~entry.currentVersion.createdAt|date('format.datetime'|trans({}, 'general'))~')' : entry.currentVersion.createdAt|date('format.datetime'|trans({}, 'general'))  }}
                        </td>
                        <td class="ellipsis-overflow">
                            {{ entry.currentVersion.createdBy }}
                        </td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-md-3 tree-sidebar">
            {% if not tree %}
                <div class="tree-message text-center">
                    <i class="fa fa-folder-open-o fa-4x"></i>
                    <h4>{{ 'tree.no_folders'|trans }}</h4>
                </div>
            {% else %}
                <ul class="treeview list-group" onclick="showAll();"><li class="list-group-item node-treeview {{ current.parent is null ? ' node-selected' }}" id="all"><i class="fa fa-eye"></i> {{ 'tree.show_all'|trans }}</li></ul>
            {% endif %}
            <div id="treeview"></div>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3" id="main">
            <form action="{{ path('documentation_operation', {'id': current.id}) }}" method="post">
            <h2 class="well">
                {% if current.parent %}{{ current.name }}{% else %}{{ 'title.all_documents'|trans }}{% endif %}
                {% if user_extension.userlocalAdministrator and current.parent %}
                    {% if current.left != (current.parent.left + 1) %}<button name="up" class="btn-link" value="{{ current.id }}" title="{{ 'table.move_up'|trans }}"><i class="fa fa-arrow-up"></i></button>{% endif %}
                    {% if (current.right + 1) != current.parent.right %}<button name="down" class="btn-link" value="{{ current.id }}" title="{{ 'table.move_down'|trans }}"><i class="fa fa-arrow-down"></i></button>{% endif %}
                {% endif %}
            </h2>
            </form>
            {% include 'layout/partial_flash.html.twig' %}
            {{ parent() }}
{% endblock %}

{% block before_table %}
            <form action="" method="post">
{% endblock %}

{% block after_table %}
                <div class="clearfix"></div>
                {% if permissions.is_organization_manager and pager is not empty %}
                    <div class="well well-sm">
                        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.entry.delete'|trans) }}
                        {{ m.submit_button('move', 'map-signs', 'btn-primary enable-on-items', 'form.entry.move'|trans) }}
                        {{ m.submit_button('archive', 'archive', 'btn-warning enable-on-items', 'form.entry.archive'|trans) }}
                    </div>
                {% endif %}
                {{ m.link_button(path('frontpage'), 'arrow-left', 'btn-info', 'form.back'|trans) }}
                {% if current.parent %}{{ m.link_button(last_url, 'level-up', 'btn-info', 'form.level_up'|trans) }}{% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Cargar treeview -->
    <script src="{{ asset('dist/js/bootstrap-treeview/bootstrap-treeview.min.js') }}"></script>
    <script type="text/javascript">

        var nodeChangeEvent = function(event, data) {
            var url = data.href;
            history.replaceState({}, '', url);
            var q = $('input#search').val();
            if (q) {
                url = url + '?q='+encodeURIComponent(q);
            }
            $('div#main').addClass('loading');
            if (event) {
                $('li#all').removeClass('node-selected');
            }
            $.ajax({
                url: url,
                type: 'GET',
                success: function(html) {
                    $('p#breadcrumb').replaceWith(
                        $(html).find('p#breadcrumb')
                    );
                    $('div#main').removeClass('loading').replaceWith(
                        $(html).find('div#main')
                    );
                    dynamicFormInit();
                },
                error: function() {
                    window.location.replace(url);
                }
            });
        };

        $(function() {
            var data = {{ tree|json_encode|raw }};

            $('#treeview').treeview({
                color: "#428bca",
                levels: 2,
                expandIcon: 'fa fa-plus',
                collapseIcon: 'fa fa-minus',
                enableLinks: true,
                preventUnselect: true,
                data: data,
                onNodeSelected: nodeChangeEvent
            });
        });

        var showAll = function() {
            $('#treeview').treeview('unselectNode', [$('#treeview').treeview('getSelected'), {'unselecting': true}]);
            nodeChangeEvent(null, {href: '{{ path('documentation')|e('js') }}'});
            $('li#all').addClass('node-selected');
        }
    </script>
{% endblock %}
