{% trans_default_domain 'user' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('admin_user_form_new') }}{% endblock %}
{% block path_list %}{{ path('admin_user_list') }}{% endblock %}

{% block table_header %}
    <th class="col-sm-4"><label><input type="checkbox" id="select"> {{ 'header.name'|trans }}</label></th>
    <th class="col-sm-4">{{ 'header.username'|trans }}</th>
    <th class="col-sm-4">{{ 'header.profiles'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for user in users %}
                {% set url = path('admin_user_form_edit', {'id': user.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="users[]" value="{{ user.id }}" {% if user.id == app.user.id %} disabled="disabled"{% else %} class="selectable"{% endif %}> <a href="{{ url }}">{{ user.lastName }}, {{ user.firstName }}</a></label>
                    </td>
                    <td><a href="{{ url }}">
                            {{ user.userNameAndEmailAddress }}
                        </a></td>
                    <td>
                        {{ user.globalAdministrator ? 'role.global_administrator'|trans }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'table.no_users'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('admin_user_delete') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
